.contenedor{
    position: relative;
    margin: auto;
    width: 80%;
    max-width: 1200px;
    margin-top: 50px;

    .title{
        position: absolute;
        margin-top: -5px;
        background-color: #f5f5f5;
        padding:0 15px;
    }
    .form{
        border: 1px solid black;
        border-radius: 3px;
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 80px; 
        grid-template-areas: 
        "brm puesto"
        "nombre ."
        "foto boton";

        .form-group label{
            display: block;
        }

        .form-group input,select{
            margin-top: 5px;
            width: 100%;
        }
        
        .form-group select{
            height: 34px;
        }

        .brm { grid-area: brm; }
        .puesto { grid-area: puesto; }
        .nombre { grid-area: nombre; }
        .foto { grid-area: foto; }
        .btn { grid-area: boton; display: flex; align-items: center;}
        .btn button{
            width: 100%;
        }
    }
}