.empleados{
    margin: auto;
    width: 80%;
    max-width: 1200px;
    margin-top: 50px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}
th,tr:nth-child(even) {
    background-color: #ff6b00;
    color: white;
}
.row-img{
    width: 250px;
    height: 250px;
}
.row-img img{
    width: 100%;
    height: 100%;
}