<div class="empleados">
  <h1 class="center">EMPLEADOS</h1>
  <table class="center">
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column }}</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let empleado of empleados[0]">           
        <td>{{ empleado.brm }}</td>
        <td>{{ empleado.nombre }}</td>
        <td class="row-img">
          <img src="{{ 'data:image/jpg;base64,' + empleado.foto }}"  alt="" />
        </td>
        <td>{{ empleado.puesto }}</td>
        <td>
          <button class="primary outline" (click)="borrar(empleado)">Borrar</button>
          <button class="dark outline" (click)="editar(empleado)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>