.contenedor{
    margin: auto;
    width: 80%;
    height: 500px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form-group input{
    margin: 15px 0;
    width: 100%;
}