<nx-alert></nx-alert>
<app-form-registro-empleado (agregarEmpleado)="agregarEmpleado($event)"></app-form-registro-empleado>
<app-tabla-empleados [empleados]="empleados" (editarEmpleado)="editarEmpleado($event)" (eliminarEmpleado)="eliminarEmpleado($event)"></app-tabla-empleados>